.hotel-item:last-child {
  margin-bottom: 20px;
}

.hotel-item:active {
  transform: translate(-50%, 0) scale(0.99);
}

.hotel-item {
  width: 95%;
  position: relative;
  display: flex;
  height: 35%;
  flex-shrink: 0;
  left: 50%;
  transform: translate(-50%, 0);

  .hotel-picture {
    position: absolute;
    height: 92.5%;
    width: 30%;
    background-color: rgb(255, 255, 255);
    top: 50%;
    transform: translate(0, -48%);
    border-radius: 10px 10px 20px 10px;
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  .hotel-text {
    position: absolute;
    height: 92.5%;
    width: 65%;
    top: 50%;
    transform: translate(0, -48%);
    left: 34%;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .hotel-name {
      margin-top: 15px;
      display: flex;
      color: #000;
      font-size: 30px;
      font-weight: 600;
      width: 100%;
      flex-wrap: wrap;
      flex-shrink: 0;
      word-wrap: break-word;
      overflow-wrap: break-word;
      word-break: break-all;
      white-space: normal;
      align-items: flex-end;
      flex-direction: row;

      .hotel-tag-box {
        display: flex;
        flex-direction: row;
        gap: 2px;
      }

      .hotel-name-text {
        flex-shrink: 0;
        margin-right: 10px;
      }

      .hotel-tag {
        display: flex;
        height: 25px;
        width: 25px;
        flex-shrink: 0;
      }
    }

    .hotel-evaluation {
      display: flex;
      font-size: 28px;
      align-items: flex-end;
      font-weight: 600;
      width: 100%;
      flex-direction: row;
      gap: 20px;
      margin-top: 5px;

      .hotel-point {
        background-color: #3690f7;
        color: #fff;
        padding: 0px 7px;
        border-radius: 5px 5px 10px 5px;
      }

      .hotel-rank {
        color: #3690f7;
        font-size: 26px;
        margin-left: -10px;
      }

      .hotel-like {
        color: #000;
        font-size: 22px;
        font-weight: 400;
        padding: 0px;
        display: flex;
        align-items: flex-end;
        height: 100%;
        margin-left: -10px;
      }
    }

    .hotel-position {
      font-size: 22px;
      font-weight: 500;
      margin-top: -5px;
    }

    .hotel-introduction {
      font-size: 23px;
      margin-top: -5px;
      color: #1d518d;
      font-weight: 500;
    }

    .hotel-label {
      display: flex;
      width: 100%;
      margin-top: -5px;
      height: 10%;
      flex-direction: row;

      flex-wrap: wrap;
      flex-shrink: 0;
      word-wrap: break-word;
      overflow-wrap: break-word;
      word-break: break-all;
      white-space: normal;
      gap: 2px;

      .hotel-label-item {
        display: flex;
        align-items: center;
        font-size: 20px;
        padding: 3px 5px;
        height: 60%;
        border: 1px solid rgba(54, 144, 247, 0.5);
        border-radius: 6px;
        color: #2664ac;

        &:first-child {
          color: #4d127e;
          border: 1px solid rgba(77, 18, 126, 0.5);
        }
      }
    }

    .hotel-Ranking {
      margin-top: -10px;
      color: #723f1c;
      font-size: 18px;
      background-color: #EBDAC8;
      display: inline-flex;
      align-items: center;
      padding: 6px 10px;
      border-radius: 8px;
      align-self: flex-start;
      font-weight: 600;
    }

    .hotel-price {
      margin-top: -10px;
      font-size: 36px;
      position: absolute;
      right: 0;
      bottom: 15%;
      font-weight: 600;
      color: #3690f7;
    }

    .hotel-supplement {
      position: absolute;
      right: -2%;
      bottom: 4%;
      font-size: 21px;
      color: #ff9860;
      font-weight: 600;
      background-color: #FFF8E0;
      padding: 5px 15px;
      border-radius: 10px;

      .icon-rotate {
        display: inline-block;
        transform: rotateZ(90deg);
      }
    }
  }
}
