@font-face {
  font-family: 'iconfont';
  src: url('./asset/fonts/iconfont.woff2') format('woff2'),
      url('./asset/fonts/iconfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-dingwei2:before {
  content: "\e6a2";
}
.icon-icontubiaohuizhizhuanqu_huaban1fuben7:before {
  content: "\e649";
}

.icon-jiudian:before {
  content: "\e888";
}

.icon-gufengwujianzhongguofenggudaishuan_huaban_huaban:before {
  content: "\e633";
}

.icon-a-godutch:before {
  content: "\e7ff";
}

.icon-tingche:before {
  content: "\e7f6";
}

.icon-koubei:before {
  content: "\e6d0";
}

.icon-liaotian2:before {
  content: "\e61f";
}

.icon-rili:before {
  content: "\e62e";
}

.icon-dingwei1:before {
  content: "\e653";
}

.icon-sousuobeifen2:before {
  content: "\e628";
}

.icon-jiantou-copy:before {
  content: "\e600";
}

.icon-dingwei:before {
  content: "\e686";
}

