@font-face {
  font-family: 'iconfont';
  src: url('./asset/fonts/iconfont.woff2') format('woff2'),
      url('./asset/fonts/iconfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-shenhe:before {
  content: "\e69e";
}

.icon-yuanyin:before {
  content: "\e636";
}

.icon-huifu:before {
  content: "\e676";
}

.icon-xiaxian:before {
  content: "\e6e0";
}
.icon-chakan:before {
  content: "\e604";
}

.icon-shanchu:before {
  content: "\e662";
}

.icon-bianji:before {
  content: "\e65d";
}
.icon-jiudian1:before {
  content: "\e89b";
}

.icon-jia:before {
  content: "\e603";
}

.icon-sheji:before {
  content: "\e65e";
}

.icon-ditiezhan:before {
  content: "\e6b2";
}

.icon-huayuan:before {
  content: "\e602";
}

.icon-guanjia:before {
  content: "\e63d";
}

.icon-w_fengjing:before {
  content: "\e668";
}

.icon-fork-knife:before {
  content: "\eca0";
}

.icon-homestay:before {
  content: "\e60f";
}

.icon-anmo:before {
  content: "\e622";
}

.icon-jueshile:before {
  content: "\e609";
}

.icon-hangzhengjiulang:before {
  content: "\e706";
}

.icon-chongwu:before {
  content: "\e7ec";
}

.icon-wanghongdakadian:before {
  content: "\e807";
}

.icon-youyongchi:before {
  content: "\e889";
}

.icon-Golden-GateBridge:before {
  content: "\edaf";
}

.icon-guanliyuan:before {
  content: "\e601";
}

.icon-yonghu:before {
  content: "\e60e";
}

.icon-mimaqueren:before {
  content: "\e620";
}

.icon-mima:before {
  content: "\e65a";
}

.icon-ren:before {
  content: "\e650";
}

.icon-suo:before {
  content: "\e68a";
}

.icon-gengxin:before {
  content: "\e611";
}

.icon-dingwei2:before {
  content: "\e6a2";
}

.icon-jiudian:before {
  content: "\e888";
}

.icon-gufengwujianzhongguofenggudaishuan_huaban_huaban:before {
  content: "\e633";
}

.icon-a-godutch:before {
  content: "\e7ff";
}

.icon-tingche:before {
  content: "\e7f6";
}

.icon-koubei:before {
  content: "\e6d0";
}

.icon-liaotian2:before {
  content: "\e61f";
}

.icon-rili:before {
  content: "\e62e";
}

.icon-dingwei1:before {
  content: "\e653";
}

.icon-sousuobeifen2:before {
  content: "\e628";
}

.icon-jiantou-copy:before {
  content: "\e600";
}

.icon-dingwei:before {
  content: "\e686";
}
