.login {
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background: url('https://bd-s.tripcdn.cn/NFES/H5login/1769572081911/_next/serverStatic/images/pc_login_bg.png');
  background-size: cover;
  background-position: center;
  .login-module {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 70%;
    background: linear-gradient(135deg, #c0ddff 0%, #4ea0ff 100%);
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    opacity: 0.8;
    .login-module-title{
      padding: 10px 20px;
      font-size: 60px;
      width:30%;
      display: flex;
      display: inline-block;
      font-weight: 600;
      background: linear-gradient(135deg, #2e90ff 0%, #003168 100%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
      color: #064082;
      position: absolute;
      top: 17%;
      left:25%;
      transform: translate(-50%, 0);
      letter-spacing: 10px;
    }
    .login-module-icon{
      position: absolute;
      display: flex;
      justify-content: space-around;
      top: 60%;
      left: 8%;
      width: 32%;
      height:20%;
      color: #064082;
      .login-module-icon-item{
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content:start ;
        align-items: center;
        .icon{
          text-align: center;
          width:80px;
          height: 80px;
          font-size: 55px;
          line-height: 80px;
        }
        .text{
          font-weight: 600;
          font-size: 18px;
        }
      }
    }
    .login-module-content{
      position: absolute;
      top: 50%;
      left: 47%;
      transform: translate(0, -50%);
      width: 50%;
      height: 90%;
      background-color: #fff;
      border-radius: 20px;
      box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
      .login-module-content-title{
        font-size: 50px;
        font-weight: 600;
        color: #064082;
        position: absolute;
        top: 12.5%;
        left: 50%;
        transform: translate(-50%, 0);
        letter-spacing: 10px;
        background: linear-gradient(135deg, #2e90ff 0%, #003168 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
      }
      .login-module-content-form{
        position: absolute;
        top: 32.5%;
        left: 50%;
        transform: translate(-50%, 0);
        width: 80%;
        height: 40%;
        display: flex;
        flex-direction: column;
        .form-item{
          position: relative;
          height: 50px;
          .icon1{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 40px;
            height: 40px;
            font-size: 40px;
            color: #0853a8;
            top: 50%;
            transform: translate(-10%, -50%);
          }
          .icon2 {
            margin-top:40px;
          }
          .username {
            position: absolute;
            left: 13%;
            display: flex;
            width: 87%;
            height: 50px;
            font-size: 16px;
            align-items: center;
            line-height: 50px;
            border-radius: 15px;
            box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
            padding: 5px 25px;
            box-sizing: border-box;
            letter-spacing: 0.15px;
            transition: 0.25s ease;
            &:focus-within {
              border: 2px solid #2e90ff;
            }
          }
          .password {
            display: flex;
            left: 13%;
            margin-top: 40px;
            position: absolute;
            height: 50px;
            width: 87%;
            font-size: 16px;
            align-items: center;
            line-height: 50px;
            border-radius: 15px;
            box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
            padding: 5px 25px;
            box-sizing: border-box;
            letter-spacing: 0.15px;
            transition: 0.25s ease;
            &:focus-within {
              border: 2px solid #2e90ff;
            }
          }
        }
      }
      .signup-module-content-box{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate(-50%, 0);
        height: 100%;
        width: 80%;
        text-align: center;
        .signup-module-content-title {
          font-size: 50px;
          font-weight: 600;
          color: #064082;
          position: relative;
          letter-spacing: 10px;
          background: linear-gradient(135deg, #2e90ff 0%, #003168 100%);
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
        }
        .form-item{
          display: flex;
          justify-content: center;
          align-items: center;
          height: 50px;
          margin-top: 20px;
          position: relative;
          .icon{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 50px;
            height: 50px;
            font-size: 40px;
            color: #0853a8;
            top: 50%;
            left: 0%;
            transform: translate(-10%, -50%);
          }
          .text{
            position: absolute;
            left: 15%;
            display: flex;
            width: 85%;
            height: 50px;
            font-size: 16px;
            align-items: center;
            line-height: 50px;
            border-radius: 15px;
            box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
            padding: 5px 15px;
            box-sizing: border-box;
            letter-spacing: 0.15px;
            transition: 0.25s ease;
            &:focus-within {
              border: 2px solid #2e90ff;
            }
          }
        }
      }
      .id{
        margin-top: 20px;
        width: 100%;
        height:15%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .id-item{
          width: 43%;
          height: 60px;
          font-size: 24px;
          line-height: 50px;
          border-radius: 15px;
          padding: 5px 25px;
          box-sizing: border-box;
          letter-spacing: 0.15px;
          transition: 0.25s ease;
          border: 2px solid #0165d7;;
          position: relative;
          .icon{
            position: absolute;
            font-size: 24px;
            color: #0853a8;
            top: 50%;
            left: 15%;
            transform: translate(-10%, -50%);
          }
          .text{
            position: absolute;
            left: 58%;
            display: flex;
            font-size: 24px;
            width: 60%;
            top:50%;
            align-items: center;
            justify-content: center;
            transform: translate(-50%, -52%);
            letter-spacing: 0.15px;
            font-weight: 600;
            color: #0165d7;;
          }
        }
        .id-item-active{
          background-color: #0165d7;
          .text{
            color: #fff;
          }
          .icon{
            color: #fff;
          }
        }
      }
      .to-login{
        font-size: 16px;
          position: absolute;
          top: 69%;
          left: 50%;
          transform: translate(-50%, 0);
          .to-login-link {
            font-size: 16px;
            font-weight: 600;
            display: inline-block;
            color: #064082;
            &:hover {
              color: #2e90ff;
              cursor: pointer;
            }
          }
      }

      .to-signup {
        font-size: 16px;
        position: absolute;
        top: 66%;
        left: 50%;
        transform: translate(-50%, 0);
        .to-signup-link{
          font-size: 16px;
          font-weight: 600;
          display: inline-block;
          color: #064082;
          &:hover{
            color: #2e90ff;
            cursor: pointer;
          }
        }
      }
      .login-module-content-btn{
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, 0);
        width: 40%;
        height: 60px;
        font-size: 30px;
        font-weight: 600;
        color: #fff;
        background:  #0165d7;
        border-radius: 15px;
        box-shadow: 2px 2px 4px #d1d9e6, -2px -2px 4px #f9f9f9;
        transition: 0.25s ease;
        line-height: 60px;
        text-align: center;
        letter-spacing: 20px;
        text-indent: 15px;
        &:hover{
          cursor: pointer;
          scale: 1.02;
        }
      }
      .signup-module-content-btn {
        top: 76%;
        height: 55px;
        line-height: 55px;
        width:50%;
      }
    }
  }
}
