.index {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(233, 233, 233);
  .navigation {
    background-color: rgb(255, 255, 255);
    display: flex;
    position: absolute;
    top: 0;
    opacity: 0.7;
    height: 5%;
    width: 95%;
    display: flex;
    align-items: center;
    z-index: 100;

    .navigation-return {
      font-size: 45px;
      line-height: 45px;
      transform: rotateZ(-90deg);
      position: relative;
      left: 3%;
      color: #555555;
    }

    .navigation-name {
      position: relative;
      left: 6%;
      padding: 0;
      font-size: 35px;
      line-height: 35px;
    }
  }
  .banner {
    display: flex;
    position: absolute;
    top: 0;
    width: 95%;
    z-index: 1;
    height: 28%;
    .banner-swiper {
      width: 100%;
      height: 100%;
    }
    .banner-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .hotel-message {
    background-color: #fff;
    display: flex;
    position: absolute;
    top: 26%;
    width: 95.5%;
    height: 30%;
    z-index: 2;
    border-radius: 20px;
    .hexagon {
      position: absolute;
      top: -13%;
      right: 3.5%;
      width: 140px;
      height: 161px;
      background: linear-gradient(45deg, #F7E2CE, #ffc773);
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
      transition: all 0.4s ease;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #723f1c;
      font-weight: 600;
      .icon{
        font-size: 35px;
        margin-top: 20px;
      }
      .box1{
        margin-top: -5px;
      }
      .box2{
        margin-top: 2px;
        font-size: 23px;
      }
    }
    .hotel-name {
      display: flex;
      color: #000;
      position: relative;
      top:7%;
      left:3%;
      height:40px;
      line-height: 40px;
      font-size: 40px;
      font-weight: 550;
      flex-wrap: wrap;
      flex-shrink: 0;
      word-wrap: break-word;
      overflow-wrap: break-word;
      word-break: break-all;
      white-space: normal;
      align-items: center;
      flex-direction: row;
      .hotel-tag-box {
        position: relative;
        top:10%;
        display: flex;
        flex-direction: row;
        gap: 2px;
      }

      .hotel-name-text {
        flex-shrink: 0;
        margin-right: 10px;
      }

      .hotel-tag {
        display: flex;
        height: 20px;
        width: 20px;
        flex-shrink: 0;
      }
    }
    .hotel-Ranking {
      position: absolute;
      color: #723f1c;
      font-size: 22px;
      background-color: #EBDAC8;
      font-weight: 600;
      display: inline-flex;
      padding: 6px 10px;
      border-radius: 8px;
      align-self: flex-start;
      font-weight: 600;
      top:18%;
      left:3%;
      .icon{
        font-size: 22px;
        transform: rotateZ(90deg);
      }
    }
    .hotel-facilities{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: row;
      justify-content:space-between;
      top:30%;
      height:120px;
      width: 94%;
      .hotel-facilities-item{
        display: flex;
        height:100%;
        width: 120px;
        flex-direction: column;
        align-items: center;
        position: relative;
        .hotel-facilities-item-icon{
          position: absolute;
          display: flex;
          align-items: center;
          line-height: 80px;
          width: 80px;
          height: 80px;
          border-radius: 40px;
          background-color: #f1f1f1;
          font-size: 60px;
          justify-content: center;
          color:#555555;
        }
        .hotel-facilities-item-text{
          position: absolute;
          font-size: 22px;
          bottom: 0;
        }
      }
    }
    .hotel-eval-pos{
      width: 94%;
      left: 50%;
      transform: translateX(-50%);
      height:35%;
      position: absolute;
      bottom:4%;
      .hotel-evaluations:active{
        scale: 1.02;
      }
      .hotel-evaluations{
        position: absolute;
        background-color:#F5F8FD;
        height:100%;
        width:44%;
        border-radius: 15px;
        transition: 0.3s linear;
        .hotel-evaluation-item{
          display: flex;
          font-size: 28px;
          align-items: center;
          position: absolute;
          font-weight: 600;
          width: 100%;
          flex-direction: row;
          gap: 20px;
          margin-top: 5px;
          top:10%;
          left:8%;
          .hotel-point {
            background-color: #0071F1;
            color: #fff;
            padding: 0px 7px;
            border-radius: 5px 5px 10px 5px;
          }

          .hotel-rank {
            color: #0071F1;
            font-size: 24px;
            margin-left: -5px;
          }
          .hotel-like {
            color: #000;
            font-size: 24px;
            font-weight:400;
            padding: 0px;
            display: flex;
            align-items:flex-end;
            height: 100%;
            margin-left: -10px;
          }
          .icon{
            position: absolute;
            right:15%;
            display: flex;
            align-items:center;
            height: 100%;
            transform: rotateZ(90deg);
            font-size: 24px;
          }
        }
        .hotel-evaluation{
          width:85%;
          position: absolute;
          top:45%;
          font-size: 26px;
          left:50%;
          transform: translateX(-50%);
          height:65px;
          display: -webkit-box;
          -webkit-line-clamp: 2;    
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: normal;
          line-height: 1.4;
          max-height: calc(22px * 1.4 * 2);  
        }
      }
      .hotel-position:active{
        scale: 1.02;
      }
      .hotel-position{
        position: absolute;
        background-color: #E9F6F2;
        right:0;
        height:100%;
        width:54%;
        border-radius: 15px;
        transition: 0.3s linear;
        .hotel-distance{
          width:75%;
          font-size: 23px;
          position: absolute;
          line-height: 43px;
          top:10%;
          left:5%;
        }
        .hotel-icon{
          width:60px;
          height:80px;
          position: absolute;
          right:2%;
          top:50%;
          transform: translateY(-50%);
          display: flex;
          align-items: center;
          flex-direction: column;
          .icon{
            font-size: 40px;
          }
          .text{
            margin-top: 5px;
            font-size: 24px;
          }
        }
      }
    }
  }

  .hotel-date {
    background-color: #fff;
    display: flex;
    position: absolute;
    top: 57%;
    width: 95.5%;
    height: 16%;
    z-index: 2;
    border-radius: 20px;
  }

  .hotel-room {
    background-color: #fff;
    display: flex;
    position: absolute;
    top: 74%;
    width: 95.5%;
    height: 16%;
    z-index: 2;
    border-radius: 20px;
  }

  .hotel-bottom {
    background-color: #fff;
    display: fixed;
    position: absolute;
    bottom: 1%;
    width: 95.5%;
    height: 8%;
    z-index: 2;
    .icon-box{
      position: relative;
      left:5%;
      display: flex;
      font-size: 25px;
      flex-direction: column;
      top:50%;
      transform: translateY(-50%);
      .bottom-icon{
        font-size: 75px;
        color: #0071F1;
      }
      Text{
        margin-top: -15px;
      }
    }
    .hotel-price{
      top:50%;
      transform: translateY(-50%);
      font-size: 40px;
      position: absolute;
      right:34%;
      font-weight: 600;
      color:#0071F1;
    }
    .hotel-bottom-checkbtn {
      position: absolute;
      background-color: #0071F1;
      top: 50%;
      transform: translateY(-50%);
      padding: 20px 35px;
      color: white;
      font-size: 35px;
      font-weight: 550;
      right: 15px;
      border-radius: 15px;
      letter-spacing: 2px;
    }
  }
}
